html, body{
  height: 100%;
}

#gameBoard{
  display:inline-flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  background-color: #9EA4B2;
  border: black 1px solid;
  height: 80%;
  width: 80%;
  margin: 0px auto;
  padding: 24px
}

div#gameBoard > div {    /*target all child divs within gameboard div */
  background-image: url("Images/flippedBackground.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: #000 1px solid;
  width:80px;
  height:80px;
  float:left;
  margin: 10px;
  padding: 20px;
  font-size:64px;
  cursor: pointer;
  text-align:center;
  display: inline-flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
}
